@font-face {font-family:"STARWARS";src:url("./font/STARWARS.eot?") format("eot"),url("./font/STARWARS.woff") format("woff"),url("./font/STARWARS.ttf") format("truetype"),url("./font/STARWARS.svg#STARWARS") format("svg");font-weight:normal;font-style:normal;}



.header{
    background: whitesmoke;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .75rem 2.5rem;
    border-bottom: 1px solid #000;
    position: fixed;
    top: 0;
    left: 0;
}

.logo {
    font-family: "STARWARS";
}